[Unit]
Description=Failover route service
After=vyos-router.service

[Service]
Type=simple
Restart=always
ExecStart=/usr/libexec/vyos/vyos-failover --config /run/vyos-failover.conf

[Install]
WantedBy=multi-user.target